body {
    margin: 0;
    padding: 0;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;

    font-family: 'Courier New', Courier, monospace;
}

.row {
    display: flex;
}

.letter-box {
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid white;

    margin: 3px;

    font-size: 20px;
}

.in-word {
    background-color: #b59f3b;
}

.correct-spot {
    background-color: #538d4e;
}