body {
    margin: 0;
    padding: 0;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;
}

.row {
    display: flex;
}

.letter-box {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid white;

    margin: 3px;
}

.in-word {
    background-color: #b59f3b;
}

.correct-spot {
    background-color: #538d4e;
}